body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container {
    display: flex; /* FLEXBOX */
    flex-direction: column;
    height: 100%;
}
.navbar {
    height: 8%;
    background-color: #333;
    color: white;
    text-align: center;
    font-family:'Courier New';
    line-height: 50px; 
}
.main {
    display: flex;
    flex: 1;
}
.canvas-container {
    width: 70%; /* 3/4 of the container */
    background-color: #ffffff; 
}
.output {
    width: 30%; /* 1/4 of the container */
    background-color: #ddd;
    text-align: center
}